---
---
<!-- get modelType -->
{% include fragment-modelType.html id='end-age' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='end-age' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: EndAge - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the end-age {{modelType | downcase}}.</p>

  {%include StructureDefinition-end-age-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
