---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ValueSet' id='vaccine-condition-codes-snomed' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: VaccineConditionCodesSnomed - Change History</h2>
  <p>History of changes for vaccine-condition-codes-snomed {{type | downcase}}.</p>

  {%include ValueSet-vaccine-condition-codes-snomed-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
